---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    text: string;
    icon: ImageMetadata;
}

const { text, icon } = Astro.props;
---

<article class="frequently">
    <div class="frequently__container">
        <div class="frequently__option">
            <p class="frequently__text">{text}</p>
        </div>
        <div class="frequently__icon">
            <Image src={icon} alt="icon" />
        </div>
    </div>
</article>

<style lang="scss">
  @reference '@styles/global';

  .frequently {
    &__container{
      @apply p-10 bg-white rounded-3xl shadow-lg h-full mb-6 md:flex md:justify-between cursor-pointer;
    }

    &__text{
        @apply text-title md:text-xl font-bold;
    }

    &__icon{
        @apply flex items-center;
    }
  }
</style>


