---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    image: ImageMetadata;
}

const { image } = Astro.props;
---

<article class="seamless">
    <div class="seamless__container">
        <div class="seamless__image">
            <Image src={image} alt="image" />
        </div>
    </div>
</article>

<style lang="scss">
  @reference '@styles/global';

  .seamless{
    &__container{
      @apply p-4 bg-bg rounded-xl mb-6 cursor-pointer transform hover:shadow-xl duration-300;
    }

    &__image{
        @apply flex items-center justify-center;
    }
  }
</style>


