@import "tailwindcss";

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

@theme{
  --color-bg: #E5E7EB;
  --color-span-solution: #9333EA;
  --color-span-communication: #2563EB;
  --color-title: #111827;
  --color-subtitle: #4B5563;
  --color-bg-trusted: #DBEAFE;
  --color-trusted: #1E40AF;
  --color-lead: #16A34A;
  --color-card1: #DCFCE7;
  --color-card2: #F3E8FF;
}
