---
import { CardReady } from "./ready_card";

import ClockIcon from '@icons/clock.svg';
import RiskIcon from '@icons/risk.svg';
import HeadphonesIcon from '@icons/headphones.svg';

const missionData = [
    {
        icon: ClockIcon,
        title: "Configuración Rápida",
        text: "Comience en solo 48 horas con nuestro equipo de expertos en incorporación.",
    },
    {
        icon: RiskIcon,
        title: "Prueba sin Riesgos",
        text: "Garantía de devolución del dinero de 30 días sin cuotas de configuración ni contratos.",
    },
    {
        icon: HeadphonesIcon,
        title: "Asistencia de Expertos",
        text: "Equipo de asistencia dedicado 24/7, listo para ayudarle a alcanzar el éxito."
    },
]
---

<section class="ready">
    <div class="ready__container">
        <div class="ready__information">
            <h1 class="ready__title">¿Listo para transformar su negocio?</h1>
            <h2 class="ready__subtitle">Únase a miles de empresas que ya se benefician de nuestras soluciones de comunicación integradas. Comience hoy mismo su prueba gratuita y experimente la diferencia.</h2>
        </div>
        <div class="ready__button">
            <button class="ready__button-get">Obtenga una Consulta Gratuita</button>
            <button class="ready__button-watch">Vea el Vídeo de Demostración</button>
        </div>
        <div class="ready__cards">
            {missionData.map((card) => ( <CardReady {...card}/>))}
        </div>
    </div>
</section>

<style lang="scss">
@reference '@styles/global';

.ready{
    @apply w-full;

    &__container{
        @apply bg-gradient-to-b from-span-communication to-span-solution p-16;
    }

    &__information{
        @apply text-center md:px-20 mb-14 text-white;
    }

    &__title{
        @apply md:text-6xl font-black mb-6;
     }
     
    &__subtitle{
        @apply text-2xl font-medium md:px-20;
    }

    &__button{
        @apply flex flex-col md:flex-row gap-6 justify-center text-lg mb-10;
    }

    &__button-get{
        @apply bg-white text-span-communication font-bold py-4 px-8 rounded-full shadow-2xl hover:bg-blue-50 transform hover:scale-105 transition duration-300;
    }

    &__button-watch{
        @apply bg-transparent border-2 border-white text-white font-bold py-4 px-8 rounded-full hover:bg-white hover:text-span-communication transition duration-300;
    }

    &__cards{
        @apply grid grid-cols-1 md:grid-cols-3 gap-4 md:px-45;
    }
}
</style>