<section class="our">
    <div class="our__container">
        <div class="our__information">
            <h1 class="our__title">Nuestra Suite de Servicios Integrales</h1>
            <h2 class="our__subtitle">Descubra cómo nuestras soluciones integradas trabajan conjuntamente para transformar sus operaciones comerciales e impulsar un crecimiento sin precedentes.</h2>
        </div>
    </div>
</section>

<style lang="scss">
@reference '@styles/global';

.our{
    @apply w-full;

    &__container{
        @apply p-16;
    }

    &__information{
        @apply text-center;
    }
}

</style>